

.topRow {
    margin-top: 1em;
    text-align: center;

    /*background-color: #482ff7;*/
}

.addNoteContainer {
    display: inline-block;
    /*background-color: #482ff7;*/

    width:  9em;
    height: 3em;

    background-color: black;
    border: 2px solid #bbbbbb;
    border-radius: 1em;


    transition: all 0.3s ease-in-out;
}
.addNoteContainer:hover {
    transition: all 0.3s ease-in-out;
    height: 20em;
    width: 20em;
}
.addNoteContainer:hover .popupNoteContainer{
    transition-delay: 3s;
    /*transition: all 0.3s ease-in-out;*/
    display: inline-block;
}

.popupNoteContainer {
    transition: all 1s ease-in-out;
    display: none;

    /*background-color: #482ff7;*/
    height: 80%;
}

.addNoteInputLabel {
    color: #bebebe;
    font-size: 0.8em;
}

.addNoteContent {
    height: 75%;
    width: 100%;
}

.addNoteBtn {
    margin-top: 15px;
}

.addNote {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;

    display: inline-block;
    text-align: center;
    /*width: max-content;*/

    font-weight: bold;
    color: white;



    transition: all 0.3s ease-in-out;
}


.notesContainer {

}

.note {
    width: max-content;
    margin: 2em;
    border: 1px solid #646464;

    border-radius: 0.5em;

}

.noteName {
    background-color: black;
    font-weight: 500;
    height: 30%;

    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;

    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.noteContentContainer {
    background-color: black;
    height: 70%;

    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.noteContent {
    padding: 0.25em;
    color: #707070;
}