.topRow {
    margin-top: 1em;
    text-align: center;

    /*background-color: #482ff7;*/
}

.addNoteContainer {
    display: inline-block;
    /*background-color: #482ff7;*/

    width:  6em;
    height: 3em;

    background-color: black;
    border: 1px solid #bbbbbb;
    border-radius: 1em;

    transition: all 0.3s ease-in-out;
}
.addNoteText {
    /*background-color: red;*/
    font-weight: 500;

}

.addNoteName {
    /*transition-property: transform;*/
    /*animation-duration: 0.5s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-iteration-count: infinite;*/
}

/*animating everything as a whole*/
.addNoteContainer:hover .popupNoteContainer{
    display: inline-block;
    /*transition: all 0.1s ease-in-out;*/
    animation-name: scaling;
    animation-iteration-count: 1;
}
.addNoteContainer:hover {
    transition: all 0.3s ease-in-out;
    height: 20em;
    width: 20em;
}
/*animating each component individually*/
/*.addNoteContainer:hover .addNoteBtn {*/
/*    transition: all 2s ease-in-out;*/
/*    animation-name: scaling;*/
/*    animation-iteration-count: 1;*/
/*}*/
/*.addNoteContainer:hover .addNoteContent {*/
/*    transition: all 2s ease-in-out;*/
/*    animation-name: scaling;*/
/*    animation-iteration-count: 1;*/
/*}*/
/*.addNoteContainer:hover .addNoteName {*/
/*    transition: all 2s ease-in-out;*/
/*    animation-name: scaling;*/
/*    animation-iteration-count: 1;*/
/*}*/

.popupNoteContainer {
    /*transition: all 0.5s ease-in-out;*/
    display: none;

    /*background-color: #482ff7;*/
    height: 80%;

    transition-property: transform;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.addNoteInputLabel {
    color: #bebebe;
    font-size: 0.8em;

    /*transition-property: transform;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-iteration-count: infinite;*/
}

.addNoteContent {
    height: 55%;
    width: 100%;

    /*transition-property: transform;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-iteration-count: infinite;*/
}


.addNoteBtn {
    margin-top: 0.75em;
    height: 2.5em;
    width: 5em;

    /*transition-property: transform;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-iteration-count: infinite;*/

    /*animation: fadeIn 5s;*/
    /*-webkit-animation: fadeIn 5s;*/
}

@keyframes scaling {
    0% {
        transform:
                scale(0)
        ;
    }
    50% {
        transform:
                scale(0.2)
        ;
    }
    100% {
        transform:
                scale(1)
        ;
    }
}
