.footer {
    color: black;

    position: absolute;
    text-align: center;
    font-weight: 400;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0rem 1rem 0rem;

    border-top: 1px solid #c9c9c9;

    background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: white;

    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 1rem 0rem 0rem 0rem;

    border-bottom: 1px solid #c9c9c9;
}

.navmenu {
    /*center navbar horizontally*/
    margin: 0 auto;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

.navitem {
    bottom: 0;
    height: inherit;
}

.navlink{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-transform: lowercase;

    padding-left:  2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;

    bottom: 0;
}
.navlinkActive {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-transform: lowercase;

    padding-left:  2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;

    bottom: 0;
    background-color: red;
}

.navlink:hover{
    color: black;
    transition: color 0.2s, text-shadow 0.2s;

    text-shadow: 0 0 1px lightslategray;

    border-bottom: 2px solid gray;
}
