.header{
    /*border-bottom: 1px solid #E2E8F0;*/
}

.footer {
    color: #9a9a9a;

    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 0rem 1rem 0rem;

    border-top: 1px solid #5b5b5b;

    background-color: black;

    /*display: flex;*/
    /*flex: 1;*/
    /*padding: 0 0;*/
    /*border-top: 1px solid #5b5b5b;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    /*background-color: #482ff7;*/
}

.logo {
    width: 10em;
    height: 10em;
    /*background-color: aqua;*/
}

.navbar {
    background-color: black;

    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 1rem 0rem 0rem 0rem;

    border-bottom: 1px solid #5b5b5b;
}

/*.hamburger {*/
/*    display: none;*/
/*}*/

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #222222;
}

.navmenu {
    /*center navbar horizontally*/
    margin: 0 auto;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

.navitem {
    /*padding-left:  2rem;*/
    /*padding-right: 2rem;*/

    bottom: 0;

    height: inherit;

    /*background-color: brown;*/

    /*margin-bottom: 0.5rem;*/

    /*height: 100%;*/
}

.navlink{
    font-size: 1.5rem;
    font-weight: 700;
    color: #b6b6b6;
    text-transform: lowercase;

    padding-left:  2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;

    bottom: 0;

    /*background-color: red;*/

    /*height: 100%;*/

    /*background-color: aquamarine;*/
}

.navlink:hover{
    color: white;
    transition: color 0.3s, text-shadow 0.3s;

    text-shadow: 0 0 3px white;

    border-bottom: 2px solid white;

    /*border-radius: 10px;*/
    /*background-color: #0070f3;*/

    /*transition: text-shadow 0.3s;*/
    /*text-shadow: 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896;*/
}

.navlink:active{
    color: white;
    transition: color 0.3s, text-shadow 0.3s;

    text-shadow: 0 0 3px white;

    border-bottom: 2px solid white;

    /*border-radius: 10px;*/
    /*background-color: #0070f3;*/

    /*transition: text-shadow 0.3s;*/
    /*text-shadow: 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896, 0 0 10px #1a0896;*/
}

.navlogo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

/*@media only screen and (max-width: 768px) {*/
/*    .navmenu {*/
/*        position: fixed;*/
/*        left: -100%;*/
/*        top: 5rem;*/
/*        flex-direction: column;*/
/*        background-color: #fff;*/
/*        width: 100%;*/
/*        border-radius: 10px;*/
/*        text-align: center;*/
/*        transition: 0.3s;*/
/*        box-shadow:*/
/*                0 10px 27px rgba(0, 0, 0, 0.05);*/
/*    }*/

/*    .navmenu.active {*/
/*        left: 0;*/
/*    }*/

/*    .navitem {*/
/*        margin: 2.5rem 0;*/
/*    }*/

/*    !*.hamburger {*!*/
/*    !*    display: block;*!*/
/*    !*    cursor: pointer;*!*/
/*    !*}*!*/

/*    !*.hamburger.active .bar:nth-child(2) {*!*/
/*    !*    opacity: 0;*!*/
/*    !*}*!*/

/*    !*.hamburger.active .bar:nth-child(1) {*!*/
/*    !*    -webkit-transform: translateY(8px) rotate(45deg);*!*/
/*    !*    transform: translateY(8px) rotate(45deg);*!*/
/*    !*}*!*/

/*    !*.hamburger.active .bar:nth-child(3) {*!*/
/*    !*    -webkit-transform: translateY(-8px) rotate(-45deg);*!*/
/*    !*    transform: translateY(-8px) rotate(-45deg);*!*/
/*    !*}*!*/
/*}*/

/*.footer {*/
/*    font-size: 1.5rem;*/
/*}*/