.formSignin {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* inputs */
.inputBoxInitial {
    width: 20em;
    height: 2em;

    margin-top: 3px;
    padding-left: 2px;

    border: 1px solid transparent; /* prevent element resize on hover */
    border-radius: 5px;
}
.inputBoxInitial:hover {
    /*box-shadow: 0 0 4px white;*/
    border: 1px solid white;
    filter: brightness(130%)
}
.inputBoxInitial:focus {
    outline: none; /* remove default outline when clicked */
}
.inputBoxBad {
    width: 20em;
    height: 2em;

    margin-top: 3px;
    padding-left: 2px;

    border: 1px solid red; /* prevent element resize on hover */
    border-radius: 5px;
}
.inputBoxOk {
    width: 20em;
    height: 2em;

    margin-top: 3px;
    padding-left: 2px;

    border: 1px solid green; /* prevent element resize on hover */
    border-radius: 5px;
}


/* labels */
.labelInitial {
    font-size: 0.8em;
    color: #bebebe;
}
.labelBad {
    font-size: 0.8em;
    color: red;
}
.labelOk {
    font-size: 0.8em;
    color: green;
}



.btn {
    width: 5em;
    height: 2em;
}


/*.inputBox {*/
/*    width: 20em;*/
/*    height: 2em;*/
/*    !*background-color: red;*!*/
/*}*/