/*------------------------ CONTENT NOTES ------------------------*/
.note {
    /* display: inline-block; */
    display: inline-block;
    box-sizing: border-box;
    
    width: fit-content;
    min-width: 20em;
    max-width: 30em;

    min-height: 5em;
    max-height: fit-content;

    margin: 1em;
    border: 1px solid #646464;

    background-color: black;

    border-radius: 0.5em;

    white-space: pre-wrap;
}
.note:hover {
    color: white;
    border: 1px solid #b6b6b6;
}
.note:hover .noteContent{
    /* overflow: visible; */
    /* background-color: #482ff7; */

    filter: brightness(200%);

    /* NOTE: for transitions to work properly (to resize to fit content), max-height must be used instead of height */
    /* max-height: 100vh;  */
}
.note:hover .noteInfo{
    filter: brightness(200%);
}

.titleCotainer {
    width: 100%;
    /* background-color: black; */

    display: flex;
    justify-content: space-between;

    /* top rounded corners */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

}

/* fontSize: 15, color: "blue"
fontSize: 15, color: "blue"
fontSize: 15, color: "blue" */

.noteOptionsContainer {
    /* text and padding */
    color: rgb(100, 0, 0);
    padding: 0.3em;

    /* top rounded corners */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    /* background-color: black; */
}

.noteOptionsContainerHidden {
    display: none;
}
.noteOption {
    color: black;
    cursor: pointer;
    padding-left: 0.85em;
    padding-right: 0.15em;
    color: GRAY;
}
.noteOption:hover {
    color: WHITE;
    cursor: pointer;
 }
 .noteOptionDelete {
    color: black;
    cursor: pointer;
    padding-left: 0.85em;
    padding-right: 0.15em;
    /* padding-right: 0.2em; */
    color: GRAY;
}
 .noteOptionDelete:hover {
    color: rgb(200, 0, 0);
    cursor: pointer;
 }
.noteTitle {
    /* float: left; */

    /* background-color: black; */
    font-weight: 500;
    height: 30%;

    /* padding around text */
    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;

    /* top rounded corners */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.noteInfo {
    /* display: inline-block; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: black; */

    font-size: small;
    font-weight: 500;
    color: rgb(73, 75, 143);

    /* padding around text */
    padding: 0.3em;
    padding-left: 0.9em;
}
.noteAuthor, .noteTimestamp{
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: black; */
}

.noteContentContainer {
    /* background-color: black; */
    height: 70%;

    /* bottom rounded corners */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.noteContent {
    /* stick to top, right below note title */
    margin-top: 0px;

    /* leave no space after content, wrap note */
    margin-bottom: 0px;

    /* bottom rounded corners */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    /*content text color*/
    color: #707070;

    /* padding around text */
    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;

    /* hide overfill */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */

    /* word-break: break-all; */
    /* word-wrap: pre; */

    /* transition:all .3s ease-in-out; */
    /* NOTE: for transitions to work properly (to resize to fit content), max-height must be used instead of height */
    /* max-height: 2.2em; */
}
/* .noteContent:hover {
    background-color: aqua;
}
.noteContentContainer:hover {
    background-color: rebeccapurple;
} */
