/*------------------------ CONTENT NOTES ------------------------*/
.note {
    /* display: inline-block; */
    display: inline-block;
    box-sizing: border-box;
    
    width: fit-content;
    min-width: 20em;
    max-width: 30em;

    min-height: 5em;
    max-height: fit-content;

    margin: 1em;
    border: 1px solid #c9c9c9;

    background-color: rgb(252, 252, 252);

    border-radius: 0.5em;

    white-space: pre-wrap;
}
.note:hover {
    background-color: white;
    border: 1px solid #949494;
}
.note:hover .noteInfo{
    color: rgb(51, 49, 172);
}
.note:hover .noteTitle {
    color: rgb(0, 0, 0);
}
.note:hover .noteContent {
    color: rgb(0, 0, 0);
}

.titleCotainer {
    width: 100%;
    /* background-color: black; */

    display: flex;
    justify-content: space-between;

    /* top rounded corners */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

}

.noteOptionsContainer {
    /* text and padding */
    padding: 0.3em;

    /* top rounded corners */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.noteOptionsContainerHidden {
    display: none;
}
.noteOption {
    color: black;
    cursor: pointer;
    padding-left: 0.85em;
    padding-right: 0.15em;
    color: rgb(156, 156, 156);
}
.noteOption:hover {
    color: BLACK;
    cursor: pointer;
 }
 .noteOptionDelete {
    color: black;
    cursor: pointer;
    padding-left: 0.85em;
    padding-right: 0.15em;
    /* padding-right: 0.2em; */
    color: rgb(156, 156, 156);
}
 .noteOptionDelete:hover {
    color: rgb(200, 0, 0);
    cursor: pointer;
 }
.noteTitle {
    /* background-color: black; */
    font-weight: 600;
    color: #555555;
    height: 30%;

    /* padding around text */
    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;

    /* top rounded corners */
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.noteInfo {
    /* display: inline-block; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: black; */

    font-size: small;
    font-weight: 500;
    color: rgb(152, 154, 219);

    /* padding around text */
    padding: 0.3em;
    padding-left: 0.9em;
}
.noteAuthor, .noteTimestamp{
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: black; */
}

.noteContentContainer {
    /* background-color: black; */
    height: 70%;

    /* bottom rounded corners */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.noteContent {
    /* stick to top, right below note title */
    margin-top: 0px;

    /* leave no space after content, wrap note */
    margin-bottom: 0px;

    /* bottom rounded corners */
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    /*content text color*/
    color: #707070;

    /* padding around text */
    padding: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}