.container {
    background-color: red;
    border: 1px solid white;
}

.formRegister {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /*border: 1px solid white;*/
}

.auth0UUrl {
    /* position: absolute; */
    float: right;
    margin-top: 0.2em;
    font-size: 0.8em;
    color: #bebebe;
    color: rgb(57, 57, 235);
}
.auth0UUrl:hover {
    text-decoration: underline;
}